.css_id_valor_label { }
.css_id_valor_line {text-align:left;}
.css_id_valor_obj {text-align:left;}
.css_factor_seg_vida_label { }
.css_factor_seg_vida_line { }
.css_factor_seg_vida_obj { }
.css_seg_auto_label { }
.css_seg_auto_line { }
.css_seg_auto_obj { }
.css_factor_seg_auto_label { }
.css_factor_seg_auto_line { }
.css_factor_seg_auto_obj { }
.css_factor_comision_label { }
.css_factor_comision_line { }
.css_factor_comision_obj { }
.css_factor_comision2_label { }
.css_factor_comision2_line { }
.css_factor_comision2_obj { }
.css_tia1_label { }
.css_tia1_line { }
.css_tia1_obj { }
.css_tia2_label { }
.css_tia2_line { }
.css_tia2_obj { }
.css_tia3_label { }
.css_tia3_line { }
.css_tia3_obj { }
.css_tia4_label { }
.css_tia4_line { }
.css_tia4_obj { }
.css_tia5_label { }
.css_tia5_line { }
.css_tia5_obj { }
.css_cat_label { }
.css_cat_line { }
.css_cat_obj { }
.css_id_status_label { }
.css_id_status_line {text-align:left;}
.css_id_status_obj {text-align:left;}
