.css_id_textos_label { }
.css_id_textos_line {text-align:left;}
.css_id_textos_obj {text-align:left;}
.css_id_credito_label { }
.css_id_credito_line {text-align:left;}
.css_id_credito_obj {text-align:left;}
.css_disclaimers_label { }
.css_disclaimers_line { }
.css_disclaimers_obj { }
.css_terminos_label { }
.css_terminos_line { }
.css_terminos_obj { }
.css_doc_terminos_label { }
.css_doc_terminos_line { }
.css_doc_terminos_obj { }
.css_id_status_label { }
.css_id_status_line {text-align:left;}
.css_id_status_obj {text-align:left;}
