.d-none{
    display: none!important;
}
.btn-cir{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 150px;
    height: 150px;
    position: relative;
}
.border-3 {
    border-width: 3px!important;
}
.input-buscar{
    position: relative;
	width: 70%;
}    
.input-icon {
   color: #191919;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 12px;
   top: 50%;
   transform: translateY(-50%);
}
.form_s{
    background: var(--light); 
    border: 1px solid #eeeeee; 
    border-radius: 5px; 
    color: var(--gray); 
    text-align: center;
    padding: 1rem !important;
}