.css_id_valor_label, .css_id_valor_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_valor_grid_line, .css_id_valor_grid_line:hover {vertical-align: top;text-align: right;}
.css_factor_seg_vida_label, .css_factor_seg_vida_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_factor_seg_vida_grid_line, .css_factor_seg_vida_grid_line:hover {vertical-align: top;text-align: left;}
.css_seg_auto_label, .css_seg_auto_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_seg_auto_grid_line, .css_seg_auto_grid_line:hover {vertical-align: top;text-align: left;}
.css_factor_seg_auto_label, .css_factor_seg_auto_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_factor_seg_auto_grid_line, .css_factor_seg_auto_grid_line:hover {vertical-align: top;text-align: left;}
.css_factor_comision_label, .css_factor_comision_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_factor_comision_grid_line, .css_factor_comision_grid_line:hover {vertical-align: top;text-align: left;}
.css_factor_comision2_label, .css_factor_comision2_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_factor_comision2_grid_line, .css_factor_comision2_grid_line:hover {vertical-align: top;text-align: left;}
.css_tia2_label, .css_tia2_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tia2_grid_line, .css_tia2_grid_line:hover {vertical-align: top;text-align: left;}
.css_tia1_label, .css_tia1_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tia1_grid_line, .css_tia1_grid_line:hover {vertical-align: top;text-align: left;}
.css_tia3_label, .css_tia3_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tia3_grid_line, .css_tia3_grid_line:hover {vertical-align: top;text-align: left;}
.css_tia4_label, .css_tia4_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tia4_grid_line, .css_tia4_grid_line:hover {vertical-align: top;text-align: left;}
.css_tia5_label, .css_tia5_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tia5_grid_line, .css_tia5_grid_line:hover {vertical-align: top;text-align: left;}
.css_cat_label, .css_cat_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cat_grid_line, .css_cat_grid_line:hover {vertical-align: top;text-align: left;}
.css_id_status_label, .css_id_status_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_status_grid_line, .css_id_status_grid_line:hover {vertical-align: top;text-align: right;}
