.css_id_textos_label, .css_id_textos_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_textos_grid_line, .css_id_textos_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_credito_label, .css_id_credito_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_credito_grid_line, .css_id_credito_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_status_label, .css_id_status_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_status_grid_line, .css_id_status_grid_line:hover {vertical-align: top;text-align: right;}
.css_disclaimers_label, .css_disclaimers_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_disclaimers_grid_line, .css_disclaimers_grid_line:hover {vertical-align: top;text-align: left;}
.css_terminos_label, .css_terminos_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_terminos_grid_line, .css_terminos_grid_line:hover {vertical-align: top;text-align: left;}
.css_doc_terminos_label, .css_doc_terminos_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_doc_terminos_grid_line, .css_doc_terminos_grid_line:hover {vertical-align: top;text-align: left;}
